PORT=6677
DATABASE=mongodb://localhost:27017
JWT_SECRET=MIICXwIBAAKBgQDWE3r0nIUkO8qE6JmmYduWH6c/tdeUUFDB1GDpEBGLpiEKnGsM+QC7MklVBtfHGORaZEj1jLeg3sOGfOqctK9Hxh8D/s9/fxaD0RcsntdNshv5soGDF7S2UAObpAnwMKpoY1AcwaGMokA7FyZwfAJHIrvtGE055IWOAlmMaewIDAQABAoGBAKSuIaTwjx97e2RYxnIOz2wh93f0O92VFzq0VMSVHtottzdBcrxtBJn8hrlg7JePLQod1Olp1DybLkVeSmJeXwiK5mbaQAlPXjv8Z45KQyYpqHnBd5voXUwC5qFMGWnJdOMNcIOd4ZPvIJPiOj5rCp6s8ZEzYiTciEeMUDik/1BAkEA8cq54CdyWLmvvxQi06PnEdxJT+diip8MIBeQjOWh9iFe2QCpP+voG8AGY/Cjzh76cy9Eo+RVSJTlRGLsI+nc4QJBAOKn01hHjXDMR4BMWKs1acaucR0dTQIVD0scquhriah4CT5MSIhHwovrGgb42odoi9Yk5B+gHeyI5f72CGQB5tsCQQDkHiPW6g+nbJ6jPzuwMzZxQRGJwCJ2NUP0ivHQ0Azf/iEtGL6tBAhXmKpF/j0F7Yjxoz0NBFikVhd1RcGKzcBAkEAulOlFomb6QLGNN6OdhDu5/o32utfhzqw29qxVWgyPmCPmLs1VXNIp6WaO+kQHQkBDAY/0w/aCb1w9exkcXJuyQJBAJq0g0edpAfdVdKwHMIdegkK4fSOJn4eJEphpf0ER07UynZwwq3JIJJC4YKpgGsdl1NvWSZLSmgKGVFUmf6vA0A=
JWT_DURATION=1y
